@charset "UTF-8";
@import url(../css/css-обнуление.css);
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Poppins", sans-serif;
  background-color: rgb(240, 228, 213);
}

.__container {
  max-width: 1200px;
  margin: 0px auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.__ibg {
  position: relative;
}

.__ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  position: fixed;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5019607843);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 104px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  padding: 0px 0px 0px 10px;
  color: rgb(209, 208, 207);
  font-size: 60px;
  font-weight: 900;
  font-family: Lobster;
  z-index: 100;
}

.header__logo a {
  color: rgb(223, 221, 219);
}

.menu-header__body {
  padding: 0px 20px 0px 0px;
}

.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-header__list li {
  margin: 0px 0px 0px 20px;
}

.menu__header__link {
  font-weight: 600;
  font-size: 16px;
  color: rgb(223, 221, 219);
  letter-spacing: 0.3px;
}

.menu__header__link:hover {
  text-decoration: underline;
  color: #cfc533;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 767px) {
  .menu-header__icon {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 2;
    margin: 20px 20px 0px 0px;
  }
  .menu-header__icon span,
.menu-header__icon::before,
.menu-header__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #f0f0f0;
  }
  .menu-header__icon::before,
.menu-header__icon::after {
    content: "";
  }
  .menu-header__icon::before {
    top: 0;
  }
  .menu-header__icon::after {
    bottom: 0;
  }
  .menu-header__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu-header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .menu-header__list li {
    margin: 0px 0px 25px 0px;
  }
  .menu__header__link {
    font-size: 28px;
  }
  .menu-header__body._active {
    left: 0;
  }
  .menu-header__body {
    padding: 200px 0px 0px 100px;
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8470588235);
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
}
@media (max-width: 992px) {
  .header__logo {
    font-size: 50px;
  }
  .menu__header__link {
    letter-spacing: 0.2px;
  }
}
.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__main-block {
  padding: 0px 10px;
}

.main-block {
  position: relative;
}

.main-block__body {
  padding: 200px 0px 200px 0px;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

.main-block__photo {
  opacity: 0.95;
}

.main-block__photo img {
  max-width: 720px;
  height: 480px;
  border-radius: 10px;
}

.main-block__text {
  font-size: 60px;
  color: rgb(199, 143, 79);
  font-weight: 700;
  line-height: 1.2;
  margin: 0px 0px 20px 0px;
}

/*	color: rgb(90, 64, 35);*/
@media (max-width: 1200px) {
  .main-block__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 992px) {
  .main-block__text {
    font-size: 50px;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .main-block__text {
    font-size: 42px;
  }
  .main-block__photo img {
    max-width: 450px;
    height: 300px;
  }
}
@media (max-width: 480px) {
  .main-block__photo img {
    max-width: 315px;
    height: 210px;
  }
  .main-block__body {
    padding: 200px 0px 100px 0px;
  }
}
.page_we-serve {
  padding: 120px 5px;
}

.we-serve__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.we-serve__title {
  margin: 0px 0px 60px 0px;
}

.title {
  text-align: center;
  font-size: 62px;
  font-style: italic;
  font-weight: 600;
  line-height: 1.5;
}

.we-serve__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.we-serve__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.we-serve__item:not(:last-child) {
  margin: 0px 25px 0px 0px;
}

.item-we-serve__image img {
  height: 250px;
  border-radius: 5px;
  max-width: 250px;
}

.item-we-serve__label {
  margin: 15px 0px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
}

@media (max-width: 992px) {
  .item-we-serve__label {
    font-size: 20px;
  }
  .we-serve__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 20px 5px;
  }
  .we-serve__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .we-serve__item:not(:last-child) {
    margin: 0px 0px 0px 0px;
  }
  .title {
    font-size: 52px;
  }
}
.page__amenities {
  padding: 120px 5px;
  background-color: rgb(241, 233, 222);
}

.amenities__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.amenities__items {
  margin: 60px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.amenities__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.amenities__item:not(:last-child) {
  margin: 0px 60px 0px 0px;
}

.item-amenities__image img {
  max-width: 200px;
  height: 200px;
}

.item-amenities__title {
  margin: 15px 0px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
}

@media (max-width: 992px) {
  .item-amenities__image img {
    max-width: 100px;
    height: 100px;
  }
  .item-amenities__title {
    margin: 10px 0px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
  .amenities__item:not(:last-child) {
    margin: 0px 40px 0px 0px;
  }
}
@media (max-width: 767px) {
  .item-amenities__image img {
    max-width: 50px;
    height: 50px;
  }
  .item-amenities__title {
    margin: 10px 0px;
    font-size: 14px;
  }
  .amenities__item:not(:last-child) {
    margin: 0px 10px 0px 0px;
  }
  .title {
    font-size: 42px;
  }
}
.gallery {
  padding: 100px 5px;
}

.gallery__title {
  margin: 0px 0px 30px 0px;
}

.gallery-slider__image {
  max-width: 1000px;
  max-height: 700px;
  margin: 0px auto;
}

.gallery-slider__image img {
  max-width: 100%;
  border-radius: 5px;
}

.gallery-slider .swiper-pagination-bullet {
  height: 15px;
  width: 15px;
  line-height: 20px;
  background-color: #363434;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 90px;
  color: #363434;
}

.aboutus {
  padding: 120px 15px;
  background-color: rgb(241, 233, 222);
}

.aboutus__title {
  margin: 0px 0px 30px 0px;
}

.aboutus__text {
  text-align: center;
  font-size: 24px;
  line-height: 1.3;
  color: #5c5959;
}

@media (max-width: 767px) {
  .aboutus__text {
    font-size: 18px;
    line-height: 1.3;
  }
}
.contacts {
  padding: 120px 5px;
  background-color: rgba(54, 54, 54, 0.8470588235);
}

.contacts__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 18px;
  color: #f0f0f0;
}

.contacts__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  font-size: 52px;
  line-height: 1.4;
  font-family: Lobster;
  color: #f0f0f0;
}

.contacts__timetable {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.contacts__timetable {
  padding: 10px 0px 0px 80px;
}

.timetable-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.timetable-contacts__title {
  font-size: 30px;
  text-align: center;
  margin: 0px 0px 15px 0px;
}

.timetable-contacts__line {
  font-size: 24px;
}

.timetable-contacts__line:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.contacts__numbers {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.timetable-contacts__number:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.social-media-contacts {
  margin: 50px 0px 100px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-media-contacts__text {
  color: #f0f0f0;
}

.social-media-contacts__text:hover {
  color: #cfc533;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.social-media-contacts__link img {
  height: 50px;
  max-width: 50px;
}

.disclaimer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 900px;
  margin: 0px auto;
}

.disclaimer-contacts__title {
  text-align: center;
  margin: 0px 0px 20px 0px;
  font-size: 32px;
  line-height: 1.2;
  color: #d67f1c;
}

.disclaimer-contacts__text {
  text-align: center;
  font-size: 18px;
  color: #f0f0f0;
}

@media (max-width: 992px) {
  .contacts__column {
    font-size: 16px;
  }
  .timetable-contacts__line {
    font-size: 18px;
  }
  .contacts__timetable {
    padding: 10px 0px 0px 40px;
  }
}
@media (max-width: 767px) {
  .contacts__logo {
    font-size: 42px;
    text-align: center;
    margin: 0px 0px 20px 0px;
  }
  .timetable-contacts__title {
    font-size: 24px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .contacts__column {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacts__column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts__timetable {
    padding: 10px 0px 0px 0px;
  }
  .contacts__numbers {
    margin: 50px 0px 0px 0px;
  }
}